nav.navbar-side {
    width : 200px;
}

nav.navbar-side ul li {
    border-bottom : 1px solid #e7e7e7;
    margin : 0;
}

.fa.arrow:before {
    content : "\f104";
}

.collapsed > .fa.arrow:before {
    content : "\f107";
}

#doc-main {
    width : 1000px;
    margin-left : 230px;
}
